*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj
*.arm.json
*.suo
*.vsidx
.gitignore
*.v5.2
*.v2
*Zip Deploy.json
.vs/CLFunctionApp/DesignTimeBuild/.dtbcache.v2
.vs/CLFunctionApp/config/applicationhost.config
*.json
*.http
*.vs